USE [master]
GO
/****** Object:  Database [DB_IngSoft]    Script Date: 12/7/2025 22:35:54 ******/
CREATE DATABASE [DB_IngSoft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_IngSoft', FILENAME = N'H:\SQL 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_IngSoft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_IngSoft_log', FILENAME = N'H:\SQL 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_IngSoft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_IngSoft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_IngSoft]
GO
/****** Object:  Table [dbo].[Bitacoras]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacoras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[UsuarioID] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[BitacoraTipoID] [int] NOT NULL,
 CONSTRAINT [PK_Bitacoras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVSistema]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DV] [nvarchar](max) NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
	[predeterminado] [bit] NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palabra]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabra](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Permiso] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosPermisos]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosPermisos](
	[IdPermisoPadre] [int] NULL,
	[IdPermisoHijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IDidioma] [int] NOT NULL,
	[IDpalabra] [int] NOT NULL,
	[traduccion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[IDidioma] ASC,
	[IDpalabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[DNI] [int] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[deleted] [bit] NOT NULL,
	[DV] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersHistorial]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersHistorial](
	[UserHistorialID] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[DNI] [int] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[deleted] [bit] NOT NULL,
	[DV] [nvarchar](max) NULL,
 CONSTRAINT [PK_UsersHistorial] PRIMARY KEY CLUSTERED 
(
	[UserHistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosPermisos]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosPermisos](
	[UsuarioID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosPermisos] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacoras] ON 

INSERT [dbo].[Bitacoras] ([Id], [Detalle], [UsuarioID], [Fecha], [BitacoraTipoID]) VALUES (1, N'Acceso de usuario', 1, CAST(N'2025-07-05T00:44:55.577' AS DateTime), 0)
INSERT [dbo].[Bitacoras] ([Id], [Detalle], [UsuarioID], [Fecha], [BitacoraTipoID]) VALUES (2, N'Acceso de usuario', 1, CAST(N'2025-07-05T01:13:27.400' AS DateTime), 0)
INSERT [dbo].[Bitacoras] ([Id], [Detalle], [UsuarioID], [Fecha], [BitacoraTipoID]) VALUES (3, N'Acceso de usuario', 1, CAST(N'2025-07-05T01:15:57.180' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Bitacoras] OFF
GO
SET IDENTITY_INSERT [dbo].[DVSistema] ON 

INSERT [dbo].[DVSistema] ([Id], [DV], [FechaActualizacion]) VALUES (1, N'0rq5yYZhGM3MTn6Ap3Tlhds6ARY=', CAST(N'2025-07-12T22:22:40.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[DVSistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([ID], [Idioma], [predeterminado]) VALUES (1, N'Español', 1)
INSERT [dbo].[Idioma] ([ID], [Idioma], [predeterminado]) VALUES (2, N'Ingles', 0)
INSERT [dbo].[Idioma] ([ID], [Idioma], [predeterminado]) VALUES (3, N'Italiano', 0)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Palabra] ON 

INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (1, N'Mostrar contraseña')
INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (2, N'Iniciar sesión')
INSERT [dbo].[Palabra] ([ID], [palabra]) VALUES (3, N'Registrarse')
SET IDENTITY_INSERT [dbo].[Palabra] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Permiso]) VALUES (1, N'Crear', N'Crear')
INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Permiso]) VALUES (2, N'Leer', N'Leer')
INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Permiso]) VALUES (3, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
INSERT [dbo].[PermisosPermisos] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (3, 1)
INSERT [dbo].[PermisosPermisos] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (3, 4)
INSERT [dbo].[PermisosPermisos] ([IdPermisoPadre], [IdPermisoHijo]) VALUES (13, 14)
GO
INSERT [dbo].[Traduccion] ([IDidioma], [IDpalabra], [traduccion]) VALUES (2, 1, N'Show password')
INSERT [dbo].[Traduccion] ([IDidioma], [IDpalabra], [traduccion]) VALUES (2, 2, N'Login')
INSERT [dbo].[Traduccion] ([IDidioma], [IDpalabra], [traduccion]) VALUES (2, 3, N'Register')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (1, N'DD', N'Libra', N'BALANCE', N'DD@balance.com', CAST(N'2002-05-05' AS Date), 12345678, 1, N'202cb962ac59075b964b07152d234b70', 0, N'uEr4Y8Zg9Fv++LiqULNyYZ5dplQ=')
INSERT [dbo].[Users] ([Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (2, N'UsuarioNormal', N'Usuario', N'Normal', N'UsuarioNormal@gmail.com', CAST(N'2025-05-29' AS Date), 12345678, 0, N'5d5b53417c8ff7d13aa16623d384763a', 0, N'8MB5Gt3US5gCymNzMz+9nnSQlQ8=')
INSERT [dbo].[Users] ([Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (3, N'JAJA', N'JAJAJA', N'EspaniaSinEnie', N'arger@gmail.com', CAST(N'2000-02-02' AS Date), 44458847, 0, N'4d66a794f78832ec32db80993af0bb4a', 1, N'SPTyD283ZGIgpulnrBh46HgSrKE=')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersHistorial] ON 

INSERT [dbo].[UsersHistorial] ([UserHistorialID], [Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (1, 3, N'TestControlCambios', N'TestCambiosControl', N'Gru', N'arger@gmail.com', CAST(N'2000-02-02' AS Date), 44458847, 0, N'4d66a794f78832ec32db80993af0bb4a', 0, N'2Ulb4XltahMqFba3dMCi0QOnRdE=')
INSERT [dbo].[UsersHistorial] ([UserHistorialID], [Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (2, 4, N'UsuarioPruebaControlCambios', N'Pepe', N'Argento', N'pepeArgentino@hotmail.com', CAST(N'1994-06-16' AS Date), 56789877, 0, N'46bed41f218ef75dffe75c0c210c16aa', 0, N'XwWN7BNVNJC8T2IDOY84gh3Xy10=')
INSERT [dbo].[UsersHistorial] ([UserHistorialID], [Id], [Usuario], [Nombre], [Apellido], [Mail], [FechaNac], [DNI], [isAdmin], [Clave], [deleted], [DV]) VALUES (3, 4, N'UsuarioPruebaControlCambios', N'Pepito', N'Argento', N'pepeArgentino@hotmail.com', CAST(N'1994-06-16' AS Date), 56789877, 0, N'46bed41f218ef75dffe75c0c210c16aa', 0, N't35SSPWKUfOs/TctLxX8wPUnWQU=')
SET IDENTITY_INSERT [dbo].[UsersHistorial] OFF
GO
INSERT [dbo].[UsuariosPermisos] ([UsuarioID], [PermisoID]) VALUES (1, 3)
INSERT [dbo].[UsuariosPermisos] ([UsuarioID], [PermisoID]) VALUES (1, 6)
INSERT [dbo].[UsuariosPermisos] ([UsuarioID], [PermisoID]) VALUES (1, 8)
GO
ALTER TABLE [dbo].[DVSistema] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[PermisosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PermisosPermisos_Permisos] FOREIGN KEY([IdPermisoPadre])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[PermisosPermisos] CHECK CONSTRAINT [FK_PermisosPermisos_Permisos]
GO
ALTER TABLE [dbo].[PermisosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PermisosPermisos_Permisos1] FOREIGN KEY([IdPermisoHijo])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[PermisosPermisos] CHECK CONSTRAINT [FK_PermisosPermisos_Permisos1]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IDidioma])
REFERENCES [dbo].[Idioma] ([ID])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Palabra] FOREIGN KEY([IDpalabra])
REFERENCES [dbo].[Palabra] ([ID])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Palabra]
GO
ALTER TABLE [dbo].[UsersHistorial]  WITH CHECK ADD  CONSTRAINT [FK_UsersHistorial_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersHistorial] CHECK CONSTRAINT [FK_UsersHistorial_Users]
GO
ALTER TABLE [dbo].[UsuariosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPermisos_Permisos] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[UsuariosPermisos] CHECK CONSTRAINT [FK_UsuariosPermisos_Permisos]
GO
ALTER TABLE [dbo].[UsuariosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPermisos_Users] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsuariosPermisos] CHECK CONSTRAINT [FK_UsuariosPermisos_Users]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVSistema]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarDVSistema]
    @dv NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE DVSistema 
    SET DV = @dv, 
        FechaActualizacion = GETDATE()
    WHERE Id = 1;
    
    -- Si no existe el registro, lo creamos
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO DVSistema (DV, FechaActualizacion)
        VALUES (@dv, GETDATE());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVUsuario]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarDVUsuario]
    @id INT,
    @dv NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Users 
    SET DV = @dv
    WHERE Id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarRelacionPermiso]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[AgregarRelacionPermiso]
	
	@IdPermisoPadre INT = NULL,
	@IdPermisoHijo INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
insert into PermisosPermisos (IdPermisoPadre,IdPermisoHijo) 
values (@IdPermisoPadre,@IdPermisoHijo)
     

END
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE   PROCEDURE [dbo].[AltaUsuario]
	
	@Usuario NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
	@Mail NVARCHAR(50),
	@FechaNac date,
	@DNI int,
	@isAdmin bit,
	@Clave NVARCHAR(MAX),
	@deleted bit,
	@DV NVARCHAR(MAX) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO Users (Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, deleted, DV)
VALUES (@Usuario, @Nombre, @Apellido, @Mail, @FechaNac, @DNI, @isAdmin, @Clave, @deleted, @DV);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuarioHistorial]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	CREATE   PROCEDURE [dbo].[AltaUsuarioHistorial]
	
	@Usuario NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
	@Mail NVARCHAR(50),
	@FechaNac date,
	@DNI int,
	@isAdmin bit,
	@Clave NVARCHAR(MAX),
	@deleted bit,
	@DV NVARCHAR(MAX) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UsuarioID INT;

    SELECT @UsuarioID = Id
    FROM Users
    WHERE Usuario = @Usuario;

	IF @Clave = ''
	BEGIN
    SELECT @Clave = Clave
    FROM Users
    WHERE Usuario = @Usuario; 
	END

	IF @DV = ''
	BEGIN
    SELECT @DV = DV
    FROM Users
    WHERE Usuario = @Usuario; 
	END

    INSERT INTO UsersHistorial (Id,Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, deleted, DV)
VALUES (@UsuarioID, @Usuario, @Nombre, @Apellido, @Mail, @FechaNac, @DNI, @isAdmin, @Clave, @deleted, @DV);
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaUsuario]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[BajaUsuario]

	@Id int
AS
BEGIN
	
	SET NOCOUNT ON;

	update Users
	set deleted=1
	where Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarPermisosPermiso_X_IdPadre]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[BorrarPermisosPermiso_X_IdPadre]
	
	@Id INT = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	delete from PermisosPermisos where IdPermisoPadre = @Id
     

END
GO
/****** Object:  StoredProcedure [dbo].[BuscarBitacora]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BuscarBitacora]
    @NombreUsuario NVARCHAR(100) = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL,
    @BitacoraTipoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        b.Id,
        b.Fecha,
        b.Detalle,
		u.Usuario,
        b.BitacoraTipoID
    FROM 
        Bitacoras b
    INNER JOIN 
        Users u ON b.UsuarioID = u.Id
    WHERE 
        (@NombreUsuario IS NULL OR u.Usuario LIKE '%' + @NombreUsuario + '%')
        AND (@FechaDesde IS NULL OR b.Fecha >= @FechaDesde)
        AND (@FechaHasta IS NULL OR b.Fecha <= @FechaHasta)
        AND (@BitacoraTipoID IS NULL OR b.BitacoraTipoID = @BitacoraTipoID)
    ORDER BY 
        b.Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarDVSistema]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscarDVSistema]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1 DV, FechaActualizacion
    FROM DVSistema
    ORDER BY Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarDVUsuarios]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscarDVUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DV
    FROM Users
    WHERE deleted = 0 AND DV IS NOT NULL AND DV != '';
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllFamilias]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GetAllFamilias]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
select * from Permisos where Permisos.Permiso is null;
     

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatentes]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GetAllPatentes]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
select * from Permisos where Permisos.Permiso is not null;
     

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   PROCEDURE [dbo].[GuardarBitacora]
	
	@Detalle NVARCHAR(MAX) = NULL,
	@UsuarioID INT,
	@Fecha DATETIME,
	@BitacoraTipoID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	insert into Bitacoras (Detalle, UsuarioID, Fecha, BitacoraTipoID) values (@Detalle,@UsuarioID, @Fecha, @BitacoraTipoID);      

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarComponente]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GuardarComponente]
	
	@Nombre NVARCHAR(MAX) = NULL,
	@Permiso NVARCHAR(50) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	insert into Permisos (Nombre,Permiso) values (@Nombre,@Permiso);

 SELECT PermisoID AS LastID FROM Permisos WHERE PermisoID = @@Identity;       

END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[ListarUsuario] 
	-- Add the parameters for the stored procedure here
	@Usuario NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT TOP 1 * 
	FROM Users 
	WHERE Usuario = @Usuario;

END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[ModificarUsuario]
	
	@Id int,
	@Usuario nvarchar(50),
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Mail nvarchar(50),
	@FechaNac date,
	@DNI int,
	@IsAdmin bit
AS
BEGIN
	
	SET NOCOUNT ON;
	update Users 
	set Usuario=@Usuario,
	Nombre=@Nombre,
	Apellido=@Apellido,
	Mail=@Mail,
	FechaNac=@FechaNac,
	DNI=@DNI,
	isAdmin=@IsAdmin
	where Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAllUsuarioHistorial]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





	CREATE   PROCEDURE [dbo].[ObtenerAllUsuarioHistorial]

	@Id int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from UsersHistorial
	where deleted=0 and Id = @Id
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAllUsuarios]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




	CREATE   PROCEDURE [dbo].[ObtenerAllUsuarios]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from Users
	where deleted=0
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFamiliasPermisos]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFamiliasPermisos]
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE recursiva para obtener la jerarquía completa de permisos
    WITH PermisosRecursivos AS (
        -- Nivel base: relaciones directas padre → hijo
        SELECT 
            ppadre.id_permiso_padre,
            ppadre.id_permiso_hijo,
            1 AS Nivel
        FROM DB_IngSoft.dbo.permiso_permiso ppadre

        UNION ALL

        -- Recursión: buscar descendencia
        SELECT 
            pr.id_permiso_padre,
            p.id_permiso_hijo,
            pr.Nivel + 1
        FROM PermisosRecursivos pr
        INNER JOIN DB_IngSoft.dbo.permiso_permiso p ON pr.id_permiso_hijo = p.id_permiso_padre
    )

    -- Selección final con los detalles de cada permiso involucrado
    SELECT 
        DISTINCT p.id AS Id,
        p.nombre AS Nombre,
        ISNULL(p.es_patente, 0) AS EsPatente
    FROM PermisosRecursivos pr
    INNER JOIN DB_IngSoft.dbo.permiso p ON p.id = pr.id_permiso_hijo

    ORDER BY p.id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuarios]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Id, Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, DV
    FROM Users
    WHERE deleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[S_altaTraduccion]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_altaTraduccion](
    -- Add the parameters for the stored procedure here
    @IDidioma int,
    @IDpalabra int,
    @traduccion nvarchar(50)
    )
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here
    insert into Traduccion(IDidioma,IDpalabra,traduccion)values(@IDidioma,@IDpalabra,@traduccion)
END
GO
/****** Object:  StoredProcedure [dbo].[S_Crear_Idioma]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Crear_Idioma]
	-- Add the parameters for the stored procedure here
 
 @idioma nvarchar(50),
 @predeterminado bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into Idioma(Idioma,predeterminado) values (@idioma,@predeterminado)
END
GO
/****** Object:  StoredProcedure [dbo].[S_Listar_idioma]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Listar_idioma]--<Procedure_Name, sysname, ProcedureName> 
	-- Add the parameters for the stored procedure here
    --<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID,Idioma,predeterminado
	From dbo.Idioma
END
GO
/****** Object:  StoredProcedure [dbo].[S_Listar_TraduccionesxIdioma]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Listar_TraduccionesxIdioma]
	-- Add the parameters for the stored procedure here
@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IDpalabra from Traduccion where IDidioma=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_Palabras]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_Palabras]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id , palabra from Palabra 
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_Traducciones]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[S_Traer_Traducciones]--<Procedure_Name, sysname, ProcedureName> 
	@ID int-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.IDidioma ,t.traduccion as Traduccion, p.ID, p.palabra as Palabra 
	from Traduccion t inner join Palabra p on t.IDpalabra=p.ID 
	where t.IDidioma =@ID

	
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_UnaPalabra]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_UnaPalabra]
	-- Add the parameters for the stored procedure here
@palabra nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID , palabra from dbo.Palabra where palabra=@palabra
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_UnIdioma]    Script Date: 12/7/2025 22:35:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_UnIdioma]
	-- Add the parameters for the stored procedure here
	@idioma nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id , idioma,predeterminado from Idioma where Idioma=@idioma
END
GO
USE [master]
GO
