USE [master]
GO
/****** Object:  Database [TrabajoDiplomaLocal]    Script Date: 16/10/2025 23:38:52 ******/
CREATE DATABASE [TrabajoDiplomaLocal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoDiplomaLocal_Data', FILENAME = N'H:\SQL 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrabajoDiplomaLocal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrabajoDiplomaLocal_Log', FILENAME = N'H:\SQL 2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrabajoDiplomaLocal.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoDiplomaLocal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoDiplomaLocal]
GO
USE [TrabajoDiplomaLocal]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacoras]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacoras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[UsuarioID] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[BitacoraTipoID] [int] NOT NULL,
 CONSTRAINT [PK_Bitacoras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[CategoriaPadreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVSistema]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVSistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DV] [nvarchar](max) NOT NULL,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FranjaHoraria]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FranjaHoraria](
	[FranjaID] [int] IDENTITY(1,1) NOT NULL,
	[JornadaID] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FranjaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Idioma] [nvarchar](50) NOT NULL,
	[predeterminado] [bit] NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumo]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumo](
	[InsumoID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Presentacion] [int] NULL,
	[PrecioCompra] [decimal](18, 0) NULL,
	[Descuento] [decimal](18, 0) NULL,
	[Cantidad] [decimal](18, 0) NULL,
	[ProveedorID] [int] NOT NULL,
	[Stock] [decimal](18, 0) NULL,
	[StockMinimo] [decimal](18, 0) NULL,
	[Imagen] [image] NULL,
	[PrecioFinal] [decimal](18, 0) NULL,
	[FechaVencimiento] [datetime] NULL,
	[CategoriaID] [int] NULL,
 CONSTRAINT [PK_Insumo] PRIMARY KEY CLUSTERED 
(
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsumosProveedor]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsumosProveedor](
	[InsumoProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[InsumoID] [int] NOT NULL,
	[ProveedorID] [int] NOT NULL,
 CONSTRAINT [PK_InsumosProveedor] PRIMARY KEY CLUSTERED 
(
	[InsumoProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JornadaLaboral]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JornadaLaboral](
	[JornadaID] [int] IDENTITY(1,1) NOT NULL,
	[ProfesionalID] [int] NOT NULL,
	[DiaSemana] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JornadaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediosDePago]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediosDePago](
	[MedioPagoID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedioPagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palabra]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabra](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Palabra] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Permiso] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisosPermisos]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisosPermisos](
	[IdPermisoPadre] [int] NULL,
	[IdPermisoHijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesionales]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesionales](
	[ProfesionalID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfesionalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfesionalesServicios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfesionalesServicios](
	[ProfesionalID] [int] NOT NULL,
	[ServicioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfesionalID] ASC,
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[RazonSocial] [nvarchar](max) NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[ProfesionalID] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[ClienteID] [int] NULL,
	[EmailConfirmacion] [nvarchar](200) NOT NULL,
	[MedioDePagoID] [int] NOT NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaAcciones]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaAcciones](
	[ReservaAccionesID] [int] IDENTITY(1,1) NOT NULL,
	[ReservaID] [int] NOT NULL,
	[Confirmado] [bit] NOT NULL,
	[Atendido] [bit] NOT NULL,
	[Cancelado] [bit] NOT NULL,
 CONSTRAINT [PK_ReservaAcciones] PRIMARY KEY CLUSTERED 
(
	[ReservaAccionesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaServicio]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaServicio](
	[ReservaID] [int] NOT NULL,
	[ServicioID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC,
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[ServicioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[DuracionMin] [int] NOT NULL,
	[BufferMin] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traduccion]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traduccion](
	[IDidioma] [int] NOT NULL,
	[IDpalabra] [int] NOT NULL,
	[traduccion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Traduccion] PRIMARY KEY CLUSTERED 
(
	[IDidioma] ASC,
	[IDpalabra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[DNI] [int] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[deleted] [bit] NOT NULL,
	[DV] [nvarchar](max) NULL,
	[EsProfesional] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersHistorial]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersHistorial](
	[UserHistorialID] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[DNI] [int] NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[Clave] [nvarchar](max) NOT NULL,
	[deleted] [bit] NOT NULL,
	[DV] [nvarchar](max) NULL,
	[EsProfesional] [bit] NOT NULL,
 CONSTRAINT [PK_UsersHistorial] PRIMARY KEY CLUSTERED 
(
	[UserHistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosPermisos]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosPermisos](
	[UsuarioID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosPermisos] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DVSistema] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Proveedor] ADD  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('') FOR [EmailConfirmacion]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((0)) FOR [DuracionMin]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((0)) FOR [BufferMin]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EsProfesional]
GO
ALTER TABLE [dbo].[UsersHistorial] ADD  DEFAULT ((0)) FOR [EsProfesional]
GO
ALTER TABLE [dbo].[Categorias]  WITH CHECK ADD  CONSTRAINT [FK_Categorias_CategoriaPadre] FOREIGN KEY([CategoriaPadreID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [FK_Categorias_CategoriaPadre]
GO
ALTER TABLE [dbo].[FranjaHoraria]  WITH CHECK ADD FOREIGN KEY([JornadaID])
REFERENCES [dbo].[JornadaLaboral] ([JornadaID])
GO
ALTER TABLE [dbo].[Insumo]  WITH CHECK ADD  CONSTRAINT [FK_Insumo_Proveedor] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedor] ([ProveedorID])
GO
ALTER TABLE [dbo].[Insumo] CHECK CONSTRAINT [FK_Insumo_Proveedor]
GO
ALTER TABLE [dbo].[JornadaLaboral]  WITH CHECK ADD FOREIGN KEY([ProfesionalID])
REFERENCES [dbo].[Profesionales] ([ProfesionalID])
GO
ALTER TABLE [dbo].[PermisosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PermisosPermisos_Permisos] FOREIGN KEY([IdPermisoPadre])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[PermisosPermisos] CHECK CONSTRAINT [FK_PermisosPermisos_Permisos]
GO
ALTER TABLE [dbo].[PermisosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_PermisosPermisos_Permisos1] FOREIGN KEY([IdPermisoHijo])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[PermisosPermisos] CHECK CONSTRAINT [FK_PermisosPermisos_Permisos1]
GO
ALTER TABLE [dbo].[ProfesionalesServicios]  WITH CHECK ADD FOREIGN KEY([ProfesionalID])
REFERENCES [dbo].[Profesionales] ([ProfesionalID])
GO
ALTER TABLE [dbo].[ProfesionalesServicios]  WITH CHECK ADD FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Profesional] FOREIGN KEY([ProfesionalID])
REFERENCES [dbo].[Profesionales] ([ProfesionalID])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Profesional]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reserva] ([ReservaID])
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD FOREIGN KEY([ServicioID])
REFERENCES [dbo].[Servicios] ([ServicioID])
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Idioma] FOREIGN KEY([IDidioma])
REFERENCES [dbo].[Idioma] ([ID])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Idioma]
GO
ALTER TABLE [dbo].[Traduccion]  WITH CHECK ADD  CONSTRAINT [FK_Traduccion_Palabra] FOREIGN KEY([IDpalabra])
REFERENCES [dbo].[Palabra] ([ID])
GO
ALTER TABLE [dbo].[Traduccion] CHECK CONSTRAINT [FK_Traduccion_Palabra]
GO
ALTER TABLE [dbo].[UsersHistorial]  WITH CHECK ADD  CONSTRAINT [FK_UsersHistorial_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersHistorial] CHECK CONSTRAINT [FK_UsersHistorial_Users]
GO
ALTER TABLE [dbo].[UsuariosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPermisos_Permisos] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[UsuariosPermisos] CHECK CONSTRAINT [FK_UsuariosPermisos_Permisos]
GO
ALTER TABLE [dbo].[UsuariosPermisos]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPermisos_Users] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsuariosPermisos] CHECK CONSTRAINT [FK_UsuariosPermisos_Users]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVSistema]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarDVSistema]
    @dv NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE DVSistema 
    SET DV = @dv, 
        FechaActualizacion = GETDATE()
    WHERE Id = 1;
    
    -- Si no existe el registro, lo creamos
    IF @@ROWCOUNT = 0
    BEGIN
        INSERT INTO DVSistema (DV, FechaActualizacion)
        VALUES (@dv, GETDATE());
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDVUsuario]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarDVUsuario]
    @id INT,
    @dv NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Users 
    SET DV = @dv
    WHERE Id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarRelacionPermiso]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[AgregarRelacionPermiso]
	
	@IdPermisoPadre INT = NULL,
	@IdPermisoHijo INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
insert into PermisosPermisos (IdPermisoPadre,IdPermisoHijo) 
values (@IdPermisoPadre,@IdPermisoHijo)
     

END
GO
/****** Object:  StoredProcedure [dbo].[AltaProveedor]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	CREATE   PROCEDURE [dbo].[AltaProveedor]
	
	@Codigo NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @RazonSocial NVARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO Proveedor(Codigo, Nombre, RazonSocial, Deleted)
VALUES (@Codigo, @Nombre, @RazonSocial,0);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE   PROCEDURE [dbo].[AltaUsuario]
	
	@Usuario NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
	@Mail NVARCHAR(50),
	@FechaNac date,
	@DNI int,
	@isAdmin bit,
	@Clave NVARCHAR(MAX),
	@deleted bit,
	@DV NVARCHAR(MAX) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO Users (Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, deleted, DV)
VALUES (@Usuario, @Nombre, @Apellido, @Mail, @FechaNac, @DNI, @isAdmin, @Clave, @deleted, @DV);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuarioHistorial]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




	CREATE   PROCEDURE [dbo].[AltaUsuarioHistorial]
	
	@Usuario NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
	@Mail NVARCHAR(50),
	@FechaNac date,
	@DNI int,
	@isAdmin bit,
	@Clave NVARCHAR(MAX),
	@deleted bit,
	@DV NVARCHAR(MAX) = NULL,
	@EsProfesional BIT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @UsuarioID INT;

    SELECT @UsuarioID = Id
    FROM Users
    WHERE Usuario = @Usuario;

	IF @Clave = ''
	BEGIN
    SELECT @Clave = Clave
    FROM Users
    WHERE Usuario = @Usuario; 
	END

	IF @DV = ''
	BEGIN
    SELECT @DV = DV
    FROM Users
    WHERE Usuario = @Usuario; 
	END

    INSERT INTO UsersHistorial (Id,Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, deleted, DV, EsProfesional)
VALUES (@UsuarioID, @Usuario, @Nombre, @Apellido, @Mail, @FechaNac, @DNI, @isAdmin, @Clave, @deleted, @DV, @EsProfesional);
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaInsumo]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BajaInsumo]
    @InsumoID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Insumo
    WHERE InsumoID = @InsumoID;
END
GO
/****** Object:  StoredProcedure [dbo].[BajaUsuario]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[BajaUsuario]

	@Id int
AS
BEGIN
	
	SET NOCOUNT ON;

	update Users
	set deleted=1
	where Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarPermisosPermiso_X_IdPadre]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[BorrarPermisosPermiso_X_IdPadre]
	
	@Id INT = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	delete from PermisosPermisos where IdPermisoPadre = @Id
     

END
GO
/****** Object:  StoredProcedure [dbo].[BuscarBitacora]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BuscarBitacora]
    @NombreUsuario NVARCHAR(100) = NULL,
    @FechaDesde DATETIME = NULL,
    @FechaHasta DATETIME = NULL,
    @BitacoraTipoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        b.Id,
        b.Fecha,
        b.Detalle,
		u.Usuario,
        b.BitacoraTipoID
    FROM 
        Bitacoras b
    INNER JOIN 
        Users u ON b.UsuarioID = u.Id
    WHERE 
        (@NombreUsuario IS NULL OR u.Usuario LIKE '%' + @NombreUsuario + '%')
        AND (@FechaDesde IS NULL OR b.Fecha >= @FechaDesde)
        AND (@FechaHasta IS NULL OR b.Fecha <= @FechaHasta)
        AND (@BitacoraTipoID IS NULL OR b.BitacoraTipoID = @BitacoraTipoID)
    ORDER BY 
        b.Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarDVSistema]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscarDVSistema]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1 DV, FechaActualizacion
    FROM DVSistema
    ORDER BY Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarDVUsuarios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscarDVUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DV
    FROM Users
    WHERE deleted = 0 AND DV IS NOT NULL AND DV != '';
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarInsumosPorFiltrosVarios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[BuscarInsumosPorFiltrosVarios]
    @Codigo NVARCHAR(50) = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @ProveedorID INT = NULL,
    @CategoriaID INT = NULL,
    @PresentacionID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        I.InsumoID,
        I.Codigo,
        I.Nombre,
        I.Cantidad,
        I.Stock,
        I.StockMinimo,
        I.FechaVencimiento,
        Categorias.Nombre as CategoriaNombre,
        I.Presentacion as PresentacionID,
        Proveedor.RazonSocial as ProveedorRazonSocial,
        I.PrecioFinal
    FROM Insumo I
    LEFT JOIN Proveedor ON Proveedor.ProveedorID = I.ProveedorID
    LEFT JOIN Categorias ON Categorias.CategoriaID = I.CategoriaID
    WHERE
        (@Codigo IS NULL OR I.Codigo LIKE '%' + @Codigo + '%')
        AND (@Nombre IS NULL OR I.Nombre LIKE '%' + @Nombre + '%')
        AND (@ProveedorID IS NULL OR I.ProveedorID = @ProveedorID)
        AND (@CategoriaID IS NULL OR I.CategoriaID = @CategoriaID)
        AND (@PresentacionID IS NULL OR I.Presentacion = @PresentacionID)
    ORDER BY I.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarProveedoresPorFiltrosVarios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[BuscarProveedoresPorFiltrosVarios]

    @Codigo NVARCHAR(50),
	@Nombre NVARCHAR(50),
    @RazonSocial NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Proveedor

    WHERE 
        (@Codigo IS NULL OR Proveedor.Codigo LIKE '%' + @Codigo + '%')
        AND (@Nombre IS NULL OR Proveedor.Nombre LIKE '%' + @Nombre + '%')
        AND (@RazonSocial IS NULL OR Proveedor.RazonSocial LIKE '%' + @RazonSocial + '%')

END
GO
/****** Object:  StoredProcedure [dbo].[ConfirmarReserva]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ConfirmarReserva]
    @ProfesionalID INT,
    @FechaInicio DATETIME,
    @FechaFin DATETIME,
    @ClienteID INT,
    @EmailConfirmacion NVARCHAR(200),
    @MedioDePagoID INT,
    @PrecioTotal DECIMAL(10,2),
    @IdGenerado  INT OUTPUT
AS
BEGIN
    INSERT INTO Reserva (ProfesionalID, FechaInicio, FechaFin, ClienteID, EmailConfirmacion, MedioDePagoID, PrecioTotal)
    VALUES (@ProfesionalID, @FechaInicio, @FechaFin, @ClienteID, @EmailConfirmacion, @MedioDePagoID, @PrecioTotal);

    SET @IdGenerado = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllFamilias]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GetAllFamilias]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
select * from Permisos where Permisos.Permiso is null;
     

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllMediosDePago]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






	CREATE   PROCEDURE [dbo].[GetAllMediosDePago]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from MediosDePago
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllPatentes]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GetAllPatentes]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
select * from Permisos where Permisos.Permiso is not null;
     

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProfesionales]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








	CREATE   PROCEDURE [dbo].[GetAllProfesionales]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select Profesionales.ProfesionalID,
Profesionales.Nombre,
Apellido,
Telefono,
Email,
ProfesionalesServicios.ServicioID,
Servicios.Nombre as NombreServicio,
Servicios.Precio as PrecioServicio,
Servicios.DuracionMin as DuracionMin,
Servicios.BufferMin as BufferMin
from Profesionales
inner join ProfesionalesServicios ON ProfesionalesServicios.ProfesionalID = Profesionales.ProfesionalID
inner join Servicios on Servicios.ServicioID = ProfesionalesServicios.ServicioID


END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProveedores]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





	CREATE   PROCEDURE [dbo].[GetAllProveedores]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from Proveedor
	where Deleted=0
END;
GO
/****** Object:  StoredProcedure [dbo].[GuardarBitacora]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   PROCEDURE [dbo].[GuardarBitacora]
	
	@Detalle NVARCHAR(MAX) = NULL,
	@UsuarioID INT,
	@Fecha DATETIME,
	@BitacoraTipoID INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	insert into Bitacoras (Detalle, UsuarioID, Fecha, BitacoraTipoID) values (@Detalle,@UsuarioID, @Fecha, @BitacoraTipoID);      

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarComponente]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[GuardarComponente]
	
	@Nombre NVARCHAR(MAX) = NULL,
	@Permiso NVARCHAR(50) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	insert into Permisos (Nombre,Permiso) values (@Nombre,@Permiso);

 SELECT PermisoID AS LastID FROM Permisos WHERE PermisoID = @@Identity;       

END
GO
/****** Object:  StoredProcedure [dbo].[GuardarInsumo]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GuardarInsumo]
    @InsumoID INT = NULL,
    @Codigo NVARCHAR(50),
    @Nombre NVARCHAR(100),
    @Categoria INT,
    @Presentacion NVARCHAR(100),
    @Descuento DECIMAL(18,2),
    @Cantidad DECIMAL(18,2),
    @Stock DECIMAL(18,2),
    @ProveedorID INT,
    @StockMinimo DECIMAL(18,2),
    @PrecioFinal DECIMAL(18,2),
    @FechaVencimiento DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @InsumoID IS NULL
    BEGIN
        INSERT INTO Insumo
        (
            Codigo,
            Nombre,
            CategoriaID,
            Presentacion,
            Descuento,
            Cantidad,
            Stock,
            ProveedorID,
            StockMinimo,
            PrecioFinal,
            FechaVencimiento
        )
        VALUES
        (
            @Codigo,
            @Nombre,
            @Categoria,
            @Presentacion,
            @Descuento,
            @Cantidad,
            @Stock,
            @ProveedorID,
            @StockMinimo,
            @PrecioFinal,
            @FechaVencimiento
        );
    END
    ELSE
    BEGIN
        UPDATE Insumo
        SET 
            Codigo = @Codigo,
            Nombre = @Nombre,
            CategoriaID = @Categoria,
            Presentacion = @Presentacion,
            Descuento = @Descuento,
            Cantidad = @Cantidad,
            Stock = @Stock,
            ProveedorID = @ProveedorID,
            StockMinimo = @StockMinimo,
            PrecioFinal = @PrecioFinal,
            FechaVencimiento = @FechaVencimiento
        WHERE InsumoID = @InsumoID;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[InsertReservaAcciones]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertReservaAcciones]
    @ReservaID INT,
    @Accion INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ReservaAcciones (ReservaID, Confirmado, Atendido, Cancelado)
    VALUES 
    (
        @ReservaID,
        CASE WHEN @Accion = 1 THEN 1 ELSE 0 END,
        CASE WHEN @Accion = 2 THEN 1 ELSE 0 END,
        CASE WHEN @Accion = 3 THEN 1 ELSE 0 END
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertReservaServicio]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertReservaServicio]
    @ReservaID INT,
    @ServicioID INT
AS
BEGIN
    INSERT INTO ReservaServicio (ReservaID, ServicioID)
    VALUES (@ReservaID, @ServicioID);
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarServicios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarServicios]

AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Servicios
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarServiciosDeProfesional]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarServiciosDeProfesional]
 @ProfesionalID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ServicioID FROM ProfesionalesServicios WHERE ProfesionalID = @ProfesionalID
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[ListarUsuario] 
	-- Add the parameters for the stored procedure here
	@Usuario NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 SELECT TOP 1 * 
	FROM Users 
	WHERE Usuario = @Usuario;

END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[ModificarUsuario]
	
	@Id int,
	@Usuario nvarchar(50),
	@Nombre nvarchar(50),
	@Apellido nvarchar(50),
	@Mail nvarchar(50),
	@FechaNac date,
	@DNI int,
	@IsAdmin bit,
	@EsProfesional bit

AS
BEGIN
	
	SET NOCOUNT ON;
	update Users 
	set Usuario=@Usuario,
	Nombre=@Nombre,
	Apellido=@Apellido,
	Mail=@Mail,
	FechaNac=@FechaNac,
	DNI=@DNI,
	isAdmin=@IsAdmin,
	EsProfesional = @EsProfesional

	where Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAllUsuarioHistorial]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





	CREATE   PROCEDURE [dbo].[ObtenerAllUsuarioHistorial]

	@Id int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from UsersHistorial
	where deleted=0 and Id = @Id
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAllUsuarios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




	CREATE   PROCEDURE [dbo].[ObtenerAllUsuarios]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select *
	from Users
	where deleted=0
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCategorias]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerCategorias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CategoriaID,
        Nombre
    FROM Categorias
    WHERE CategoriaPadreID IS NULL
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFechasReservasPorProfesional]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerFechasReservasPorProfesional]
    @ProfesionalID INT,
    @FechaDesde DATE,
    @FechaHasta DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        CAST(FechaInicio AS DATE) AS FechaReserva
    FROM Reserva
    WHERE ProfesionalID = @ProfesionalID
      AND CAST(FechaInicio AS DATE) BETWEEN @FechaDesde AND @FechaHasta
    ORDER BY FechaReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFranjasPorProfesional]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFranjasPorProfesional]
    @ProfesionalID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.JornadaID,
        j.DiaSemana,
        f.FranjaID,
        f.HoraInicio,
        f.HoraFin
    FROM JornadaLaboral j
    INNER JOIN FranjaHoraria f ON j.JornadaID = f.JornadaID
    WHERE j.ProfesionalID = @ProfesionalID
    ORDER BY j.DiaSemana, f.HoraInicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProfesionalPorUsuarioID]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerProfesionalPorUsuarioID]
	-- Add the parameters for the stored procedure here
	@UsuarioID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * 
from Profesionales
Where UserID = @UsuarioID

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerReservaDiaPorFechayProfesional]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ObtenerReservaDiaPorFechayProfesional]
    @ProfesionalID INT,
    @Fecha DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
    R.ReservaID,
    R.ProfesionalID,
    R.FechaInicio,
    R.FechaFin,
    R.ClienteID,
    R.EmailConfirmacion,
    R.MedioDePagoID,
    R.PrecioTotal,
    S.ServicioID,
    S.Nombre AS NombreServicio,
   ReservaAcciones.Confirmado,
   ReservaAcciones.Atendido,
   ReservaAcciones.Cancelado
FROM Reserva R
INNER JOIN ReservaServicio RS ON R.ReservaID = RS.ReservaID
INNER JOIN Servicios S ON RS.ServicioID = S.ServicioID
LEFT JOIN ReservaAcciones ON ReservaAcciones.ReservaID = R.ReservaID
WHERE R.FechaInicio = @Fecha
  AND R.ProfesionalID = @ProfesionalID;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerReservasPorProfesionalyFecha]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerReservasPorProfesionalyFecha]
    @ProfesionalID INT,
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Reserva
    WHERE ProfesionalID = @ProfesionalID
      AND CAST(FechaInicio AS DATE) = @Fecha;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerServicio]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerServicio]
    @ServicioID INT

AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Servicios WHERE ServicioID = @ServicioID
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSubcategorias]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerSubcategorias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.CategoriaID,
        C.Nombre AS SubcategoriaNombre,
        P.CategoriaID AS CategoriaPadreID,
        P.Nombre AS CategoriaPadreNombre
    FROM Categorias C
    INNER JOIN Categorias P ON C.CategoriaPadreID = P.CategoriaID
    ORDER BY P.Nombre, C.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSubcategoriasPorCategoria]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerSubcategoriasPorCategoria]
    @CategoriaID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CategoriaID,
        Nombre
    FROM Categorias
    WHERE CategoriaPadreID = @CategoriaID
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuarios]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosUsuarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT Id, Usuario, Nombre, Apellido, Mail, FechaNac, DNI, isAdmin, Clave, DV
    FROM Users
    WHERE deleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[S_altaTraduccion]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_altaTraduccion](
    -- Add the parameters for the stored procedure here
    @IDidioma int,
    @IDpalabra int,
    @traduccion nvarchar(50)
    )
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Insert statements for procedure here
    insert into Traduccion(IDidioma,IDpalabra,traduccion)values(@IDidioma,@IDpalabra,@traduccion)
END
GO
/****** Object:  StoredProcedure [dbo].[S_Crear_Idioma]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Crear_Idioma]
	-- Add the parameters for the stored procedure here
 
 @idioma nvarchar(50),
 @predeterminado bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into Idioma(Idioma,predeterminado) values (@idioma,@predeterminado)
END
GO
/****** Object:  StoredProcedure [dbo].[S_Listar_idioma]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Listar_idioma]--<Procedure_Name, sysname, ProcedureName> 
	-- Add the parameters for the stored procedure here
    --<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID,Idioma,predeterminado
	From dbo.Idioma
END
GO
/****** Object:  StoredProcedure [dbo].[S_Listar_TraduccionesxIdioma]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Listar_TraduccionesxIdioma]
	-- Add the parameters for the stored procedure here
@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IDpalabra from Traduccion where IDidioma=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_Palabras]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_Palabras]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id , palabra from Palabra 
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_Traducciones]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[S_Traer_Traducciones]--<Procedure_Name, sysname, ProcedureName> 
	@ID int-- Add the parameters for the stored procedure here
	--<@Param1, sysname, @p1> <Datatype_For_Param1, , int> = <Default_Value_For_Param1, , 0>, 
	--<@Param2, sysname, @p2> <Datatype_For_Param2, , int> = <Default_Value_For_Param2, , 0>
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT t.IDidioma ,t.traduccion as Traduccion, p.ID, p.palabra as Palabra 
	from Traduccion t inner join Palabra p on t.IDpalabra=p.ID 
	where t.IDidioma =@ID

	
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_UnaPalabra]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_UnaPalabra]
	-- Add the parameters for the stored procedure here
@palabra nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID , palabra from dbo.Palabra where palabra=@palabra
END
GO
/****** Object:  StoredProcedure [dbo].[S_Traer_UnIdioma]    Script Date: 16/10/2025 23:38:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE [dbo].[S_Traer_UnIdioma]
	-- Add the parameters for the stored procedure here
	@idioma nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id , idioma,predeterminado from Idioma where Idioma=@idioma
END
GO
USE [master]
GO
